section.main
    div.container.container-centered
        div.jumbotron
            h2.block-title Fehler
        div.section.bg-white
            h2.large 404
            h3.block-title.no-line Seite nicht gefunden