header
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
        .container
            a.navbar-brand(pageScroll, href='#page-top')
                img.logo.img-fluid(src='/public/assets/template/img/logo/logo.png')
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                i.fa.fa-bars(aria-hidden='true')
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link(pageScroll, href='#story') Story
                    li.nav-item
                        a.nav-link(pageScroll, href='#content') Inhalt
                    li.nav-item
                        a.nav-link(pageScroll, href='#game') Zum Spiel
                    li.nav-item
                        a.nav-link(pageScroll, href='#contact') Kontakt
